body {
    background-color: #414141;
}

.story {
    font-family: Arial;
    font-size: 20px;
    color: #FA4102;
}

.user {
  font-family: Arial;
  font-size: 25px;
}

.userborder {
  background-color: #A4A3A3;
}
